.app-container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px 30px;
}

/*--- HEADER (ADMIN)---*/
.header-container {
  display: flex;
  flex-direction: column;
}

.header-container h1 {
  font-size: var(--fs-h1);
  color: var(--text-main);
  margin-bottom: 25px;
}

.header-column-2 {
  display: flex;
  justify-content: space-between;
}

/*--- Botonn de busqueda ---*/
.search-filter {
  display: none;
}

.header-search {
  display: flex;
  align-items: center;
  background-color: #171f2a;
  border-radius: 8px;
  padding: 5px 15px;
  gap: 10px;
}

#search {
  background-color: transparent;
  border: none;
  color: var(--text-muted);
  outline: none;
  width: 200px;
}

.search-btn {
  background: transparent;
  border: none;
  color: var(--text-muted);
  cursor: pointer;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-date {
  display: flex;
  align-items: center;
  background-color: #171f2a;
  border-radius: 8px;
  padding: 5px 15px;
  gap: 10px;
  cursor: pointer;
}

.header-date i {
  color: var(--text-muted);
}

.date-text {
  color: var(--text-muted);
}

/*--- User ---*/
.header-user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 50%;
}

/*--- SIDEBAR (ADMIN) ---*/
.sidebar {
  width: 280px;
  height: 100vh;
  background-color: var(--bg-surface);
  padding: 20px 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.logo-text {
  text-align: column;
  justify-content: center;
}

.logo-title {
  font-size: 26px;
  color: var(--text-main);
  font-weight: bold;
}

.sidebar-title {
  font-size: 16px;
  color: var(--text-muted);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logo-img {
  width: 80px;
  max-width: 100%;
  object-fit: fill;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.menu-list a {
  display: block;
  padding: 12px 15px;
  color: var(--text-muted);
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.menu-list a i {
  width: 24px;
  text-align: center;
  margin-right: 10px;
}

.menu-list a:hover {
  color: var(--text-main);
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-list a.active {
  color: var(--neon-cyan);
  border: 1px solid rgba(0, 255, 204, 1);
  border-left: 2px solid rgba(0, 255, 204, 1);
  background: linear-gradient(90deg, rgba(0, 255, 204, 0.3) 0%, transparent 50%);
  box-shadow:
    0 0 20px rgba(0, 255, 204, 0.2),
    inset 4px 0 10px rgba(0, 255, 204, 0.2);
}
